header {
    background-color: #111844;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
}
#inicio {
  background-color: #111844;
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.presentacion {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #4B5694;
  color: #EAE0CF;
}

#Modelos {
  background-color: #4B5694;
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#contacto {
  background-color: #EAE0CF;
  color: #0e0e0e;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}