* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #060818;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.encabezado {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
}

.P1-Titulo {
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: left;
}

.Perfil-img {
  width: 20%;
  height: auto;
}

#P1-Titulo {
  background-color: #111844;
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: Left;
  padding: 30px;
}

.contenido {
    display: flex;
    align-items: center;
    gap: 40px;
}

.presentacion-texto {
    margin-bottom: 10px;
}

body {
  background-color: #000000;
  color: #EAE0CF;
}

.Galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Modelo-card {
    background-color: #4B5694;
    padding: 30px;
    border-radius: 1px;
    width: 400px;
    text-align: Left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease;
}
.Modelo-card:hover {
    transform: translateY(-5px);
}

.Modelo-card img {
    width: 100%;
    border-radius: 0px;
}

#Modelos {
  background-color: #7288AE;
  color: #EAE0CF;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

.carrusel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel-img {
    width: 100%;
    border-radius: 8px;
}

.flecha {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 10%;
}

.flecha-izq {
    left: 5px;
}

.flecha-der {
    right: 5px;
}

.flecha:hover {
    background-color: hotpink;
}

#contacto {
  background-color: #EAE0CF;
  color: #0e0e0e;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}